[core]
	editor = vim
[alias]
	lg = log --graph --pretty=format:'%C(bold red)%h%Creset -%Creset %s %C(bold green)(%cd - %cr) %C(bold blue)<%an> %C(bold yellow)%d' --abbrev-commit --date=short
	rep = log --all --graph --pretty=format:'%C(bold red)%h%Creset -%Creset %s %C(bold green)(%cd - %cr) %C(bold blue)<%an> %C(bold yellow)%d' --abbrev-commit --date=short \
		--since=\"1 week ago\" --author=\"Marek Milkovič\"
	co = commit -v
	ch = checkout
	st = status
	chp = checkout -p
	ap = add -p
	undo = reset HEAD^
	unstage = reset HEAD
	push = push --recurse-submodules=check
	pa = !git pull && git submodule update --init
[push]
	default = simple
[merge]
	tool = vimdiff
	renamelimit = 32000
[user]
	name = Marek Milkovič
	email = milkovic.marek@gmail.com
[pager]
	branch=
